<app-nav></app-nav>
<app-top-header></app-top-header>

<div class="ParentSectionSection_Components_HTally">

    <h1 class="TopHeading">Renter</h1>
    <div class="Body_ParentSectionSection_Components_HTally">
        <div class="InnerPart_Body_Renter_Htally">
            <div class="Parent_ActivityList_Dashboard TabsSection">
                <div class="RemainActivityList_Tab_Button">

                    <button (click)="selectTab('RenterList')"
                        [class.active]="activeTab === 'RenterList'">Renter<span></span></button>

                    <button (click)="selectTab('AsignRenter')"
                        [class.active]="activeTab === 'AsignRenter'">Asign Flat<span></span></button>

                </div>

                <div *ngIf="activeTab === 'RenterList'" class="RemainActivityList_tab_content">
                    <app-renter-list></app-renter-list>
                </div>

                <div *ngIf="activeTab === 'AsignRenter'" class="RemainActivityList_tab_content">
                    <app-assign-flat></app-assign-flat>
                </div>
            </div>
        </div>
    </div>
</div>
